*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

button,
input {
  font: inherit;
}

a {
  color: inherit;
}

.container {
  width: min(1000px, 100% - 2rem);
  margin-inline: auto;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header-logo {
  height: 1.5rem;
}

.header-nav {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 0.8rem;
  color: #4c4d5f;
}

.nav-link:hover {
  color: #000;
}

.dropdown-title {
  display: flex;
  align-items: center;
}

.dropdown-arrow {
  transition: all ease 200ms;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  position: fixed;
  top: 3.5rem;
  background-color: #fff;
  list-style: none;
  width: 15rem;
  font-size: 0.9rem;
  color: #4c4d5f;
  padding: 1.5rem;
  box-shadow: -4px 4px 15px rgb(0, 0, 0, 0.1);
}

.dropdown-menu :last-child {
  border-bottom: none;
}

.dropdown-item {
  padding-block: 0.5rem 1rem;
  border-bottom: 1px solid #4c4d5f;
}

.dropdown-link {
  text-decoration: none;
  font-family: 'Lora', serif;
}

.dropdown-link .link-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #000;
}

.dropdown-link .link-text {
  font-size: 0.7rem;
  line-height: 1rem;
}

.dropdown-visible {
  display: flex;
  opacity: 1;
}

.produce-dropdown:hover .produce-menu {
  display: flex;
}

.dropdown-title:hover .dropdown-arrow {
  rotate: 180deg;
}






.btn-wrapper {
  display: flex;
  gap: 1rem;
}

.header-btn {
  height: 34px;
  padding-inline: 15px;
  border: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  border-radius: 3px;
  transition: all ease 200ms;
}

.login {
  border: 1px solid #00b289;
  color: #00b289;
  background-color: transparent;
}

.login:hover {
  color: white;
  background-color: #00b289;
}

.start-free {
  color: #fff;
  background-color: #00b289;
}

.start-free:hover {
  background-color: #009673;
}

.header-toggle {
  display: none;
}

@media (max-width: 50em) {
  .header-toggle {
    display: block;
    background: transparent;
    background-image: url(./images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    height: 30px;
    width: 30px;
    border: none;
    z-index: 1000;
  }

  .header-toggle[aria-expanded='true'] {
    background-image: url(./images/icon-close.svg);
  }

  .btn-wrapper {
    display: none;
  }

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    background-color: white;
    transform: translateX(100%);
    transition: transform ease-in-out 400ms;
    box-shadow: -5px 0 20px rgb(0, 0, 0, 0.05);
  }

  .header-nav {
    margin-top: 6rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1rem;
  }

  .nav-visible {
    transform: translateX(0);
  }
}


/* 
  main
  pricing section
*/

.pricing-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4rem;
  padding: 1rem;
}

.pricing-title {
  font-family: 'Lora', serif;
  font-weight: 500;
  color: #4c4d5f;
  font-size: 1.7rem;
}

.plan-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.toggle-switch {
  background-color: #00b289;
  height: 24px;
  width: 42px;
  border-radius: 4rem;
  padding: 2px;
  transition: all ease-in-out 300ms;
}

.toggle-switch[data-toggled="true"] .toggle {
  /* float: right; */
  transform: translate(18px);
}

.toggle {
  background-color: white;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 4rem;
}

.plan-text {
  color: rgb(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.active {
  color: #000;
}